{% extends "base.html" %}
{% block styles %}
    {{ block.super }}
    <style>
        .ui.form {
            display: inline-block;
            margin-top: 2em;
        }
    </style>
{% endblock styles %}
{% block content %}
<div class="ui one column stackable center aligned page grid">
    <div class="column twleve wide">
        <form class="ui form">
            <div class="inline fields">
                <div class="field">
                    <label>Add link: </label>
                    <input type="text" name="slug" placeholder="Referral Slug" />
                </div>
                <button class="ui button" type="submit">Create</button>
            </div>
        </form>
    </div>
</div>
{% endblock content %}
{% block scripts %}
    {{ block.super }}
    <script type="text/javascript">
        $.fn.api.settings.api = {
            'get links' : '/links',
            'create link' : '/links',
            'edit link' : '/links/{pk}',
            'delete link' : '/links/{pk}'
        };
    </script>
{% endblock scripts %}